<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auth.management.mapper.RuleParamMapper">

    <resultMap id="BaseResultMap" type="com.auth.management.entity.RuleParam">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="name_en" property="nameEn"/>
        <result column="business_objects" property="businessObjects"/>
        <result column="status" property="status"/>
        <result column="data_type" property="dataType"/>
        <result column="reference_field_id" property="referenceFieldId"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>

    <select id="checkNameExists" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM rule_params
        WHERE delete_flag = 0
        AND name = #{name}
        <if test="excludeId != null">
            AND id != #{excludeId}
        </if>
    </select>

    <select id="checkNameEnExists" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM rule_params
        WHERE delete_flag = 0
        AND name_en = #{nameEn}
        <if test="excludeId != null">
            AND id != #{excludeId}
        </if>
    </select>

</mapper>